<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div>
    <header th:replace="fragments :: header"></header>
</div>
<div class="container">
    <div class="content">
        <div>
            <h2 th:text="'Current List: ' + ${currentList.name}"></h2>
        </div>
        <div>
            <form method="post" class="d-flex">
                <div class="input-group">
                    <input class="list-group-item d-flex justify-content-between align-items-center w-75" th:field="${item.name}" placeholder="Add Item" aria-describedby="button-addon2">
                    <p class="error" th:errors="${item.name}"></p>
                    <button id="button-addon2" class="btn btn-dark d-flex w-25" type="submit">Add</button>
                </div>
            </form>
        </div>
        <div>
            <ul th:each="item : ${items}" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"> <a th:href="'/list/add-tag?itemId=' + ${item.id}" th:text="${item.name}"></a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>