<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
  <header th:replace="fragments :: header"></header>
  <div class="container">
    <div class="mx-5">
      <h2 th:text="${title}"></h2>
    </div>
  <div class="row">
    <div class="col-lg-4">
      <form method="post">
        <input th:field="${item.name}">
        <p class="error" th:errors="${item.name}"></p>
        <input type="submit" value="Add to List">
      </form>
    </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <ul th:each="item : ${myList}" class="list-group">
            <li th:text="${item.name}" class="list-group-item d-flex justify-content-between align-items-center"></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</body>
</html>